.mainContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageContainer img {
  height: 250px;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
}

.mainContainer .infoContainer h3 {
  margin-bottom: 50px;
  font-size: 40px;
  letter-spacing: 5px;
  font-family: var(--font-style-1);
  font-weight: 900;
  color: var(--black);
}

h3 span {
  color: var(--primaryColor2);
  text-decoration: none;
}

.btn {
  width: 200px;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  margin-top: 50px;
  padding: 10px;
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  background: var(--primaryColor2);
  box-shadow: var(--shadow-3);
  transition: var(--transition-1);
  cursor: pointer;
}

.btn:hover {
  background: var(--primaryColor3);
  box-shadow: var(--shadow-4);
}

@media screen and (max-width: 992px) {
  .mainContainer {
    grid-template-columns: 1fr;
  }
  .imageContainer {
    display: none;
  }
}
